<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>
  </div>

</div>

<hr>

<div>
  <h2>Add a new post</h2>

  <div>
    <form action="/insert_post" method="post">

      <div>
        <label for="title_field">Title</label>
        <input type="text" name="query_title" id="title_field">
      </div>

      <div>
        <label for="body_field">Body</label>
        <textarea name="query_body" id="body_field"></textarea>
      </div>

      <div>
        <label for="expires_on">Expires on</label>
        <input type="date" name="query_expires_on" id="expires_on">
      </div>

      <div>
        <label for="board_id"></label>
        <input type="hidden" name="query_board_id" id="board_id" value="<%= @the_board.id %>">
      </div>

      <button>
      Add post
      </button>
    </form>
  </div>
</div>

<hr>

<h2>Active posts</h2>

<div>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expires on</th>
    </tr>
    
  <% matching_posts_active = Post.where({:board_id => @the_board.id}).where("expires_on > ?", Time.now).order({:expires_on => :asc})  %>
  <% matching_posts_active.each do |a_post|%>
    <tr>
      <td><%=a_post.title%></td>
      <td><%=a_post.body%></td>
      <td><%=a_post.created_at.strftime("%b %e, %Y")%></td>
      <td><%=a_post.expires_on.strftime("%b %e, %Y")%></td>
    </tr>
  <% end %>
  </table>
</div>

<h2>Expired posts</h2>

<div>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expires on</th>
    </tr>
    
  <% matching_posts_expired = Post.where({:board_id => @the_board.id}).where("expires_on < ?", Time.now).order({:expires_on => :desc}) %>
  <% matching_posts_expired.each do |a_post|%>
    <tr>
      <td><%=a_post.title%></td>
      <td><%=a_post.body%></td>
      <td><%=a_post.created_at.strftime("%b %e, %Y")%></td>
      <td><%=a_post.expires_on.strftime("%b %e, %Y")%></td>
    </tr>
  <% end %>
  </table>
</div>
