<!DOCTYPE html>
<html>
  <head>
    <title>Bulletin Board 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <a href="/boards">Bulletin Board</a>

<!--Using FlashMessageHelperMethod to show the user if their input was saved or not-->
  <hr>

  <div style="color: green"><%= notice %></div>

  <div style="color: red"><%= alert %></div>


    <%= yield %>
  </body>
</html>
